* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #333; */
    background-image: url('images/bateria.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color:rgba(255, 255, 255, 0.6);
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

h1 {
    color: #000;
    margin-bottom: 10px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}
.keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.key {
    width: 80px;
    height: 80px;
    border: 2px solid #2196f3;
    border-radius: 5px;
    color: #FFF;
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.key.active {
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: #FFF;
    color: #2196f3;
    /* border: 2px solid #FF0;
    color: #FF0; */
}

.composer {
    width: 260px;
    margin-top: 20px;
}
.composer #input {
    width: 100%;
    outline: none;
    font-size: 17px;
    border: none;
    padding: 10px 15px;
}
.composer button {
    width: 100%;
    height: 40px;
    background: #2196f3;
    border: 2px solid #2196f3;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;

    transition: background-color 0.2s;
}
.composer button:hover {
    background-color: #4dabf5;
    border: 2px solid #4dabf5;
}

footer {
    margin-top: 20px;
    color: #000;
    font-size: 13px;

    display: flex;
    flex-direction: column;

    line-height: 1.5rem;

    align-items: center;
    justify-content: center;
}

h5 {
    text-align: center;
}